
<!-- footer -->
<footer class="footer">
		<div class="footer-main-panel">
			<div class="inner-wrap">
				<div class="logo-inner-wrap">
					<div class="logo-wrap">
						<a href="" class="logo">
							<img src="./img/main/logo.svg" alt="">
						</a>
					</div>
					<div class="info-wrap">
						<p>Российский производитель сливочных ирисок с гималайской солью с&nbsp;2018&nbsp;года</p>
					</div>
				</div>
				<div class="contacts-inner-wrap">
					<div class="cnt-wrap">
						<a href="tel:89998493953" class="link-phone">+7 (999) 849-39-53</a>
						<div class="link-wrap">
							<a href="">По вопросам сотрудничества</a>
						</div>
					</div>
					<div class="cnt-wrap">
						<a href="mailto:chuvchav@yahoo.com" class="link-email">chuvchav@yahoo.com</a>
					</div>
				</div>
				<div class="menu-inner-wrap">
					<div class="menu-wrap">
						<ul class="menu">
							<li><a href="">Ириски</a></li>
							<li><a href="">Интернет-магазин</a></li>
							<li><a href="">Блог</a></li>
						</ul>
						<ul class="menu">
							<li><a href="">Бизнесу</a></li>
							<li><a href="">Карта Чув-Чав</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-pays-panel">
			<div class="inner-wrap">
				<div class="panel-title">Принимаем к оплате:</div>
				<div class="panel-items">
					<div class="footer-pay">
						<img src="./img/main/pay01.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay02.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay03.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay04.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay05.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay06.svg" alt="">
					</div>
					<div class="footer-pay">
						<img src="./img/main/pay07.svg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="footer-info-panel">
			<div class="inner-wrap">
				<div class="info-wrap">2023. Все права защищены. <a href="" class="link-main">Политика&nbsp;конфиденциальности</a></div>
				<div class="studio-wrap">
					<a href="">Сделано ВебУспех</a>
				</div>
			</div>
		</div>
</footer>
<!-- /footer -->