
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">О нас</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">Карта Чав-Чав</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="site-menu-wrap">
					<ul class="menu">
						<li><a href="">Ириски</a></li>
						<li><a href="">Интернет-магазин</a></li>
						<li><a href="">Бизнесу</a></li>
					</ul>
				</div>
				<div class="contacts-wrap">
					<div class="cnt-wrap">
						<a href="mailto:chuvchav@yahoo.com" class="link-email">chuvchav@yahoo.com</a>
					</div>
					<div class="cnt-wrap">
						<a href="tel:89998493953" class="link-phone">+7 (999) 849-39-53</a>
					</div>
				</div>
			</div>
		</div>
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="main-menu-wrap">
			<ul class="menu">
				<li><a href="">Ириски</a></li>
				<li><a href="">Интернет-магазин</a></li>
				<li><a href="">Бизнесу</a></li>
			</ul>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap action-user">
				<a href="" class="btn-action-ico ico-user"></a>
			</div>
			<div class="action-wrap action-search">
				<a href="" class="btn-action-ico ico-search"></a>
			</div>
			<div class="action-wrap action-cart">
				<a href="" class="btn-action-cart">
					<span class="btn-action-ico ico-cart"></span>
					<span class="button-title">
						<span class="button-price">10 000 р</span>
						<span class="button-count">10 шт</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->